* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Impact, Arial Black, sans-serif;
  background: radial-gradient(circle at top, #2b0000, #000000);
  color: #e6e6e6;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  background: linear-gradient(90deg, #000, #7a0000);
  padding: 2em;
  text-align: center;
  border-bottom: 4px solid red;
}

header h1:first-child {
  color: red;
  font-size: 2.4rem;
  letter-spacing: 3px;
}

header h1:last-child {
  color: white;
  font-size: 1.2rem;
  margin-top: 10px;
}

/* NAV */
nav {
  background: #111;
  border-bottom: 3px solid red;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav a {
  padding: 15px 25px;
  color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

nav a:hover {
  background: red;
  color: black;
}

/* MAIN */
main {
  flex: 1;
  padding: 2em;
}

/* CONTENT */
#content {
  max-width: 1000px;
  margin: auto;
  background: #111;
  padding: 25px;
  border-left: 6px solid red;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.3);
}

#content h2 {
  color: red;
  margin-bottom: 15px;
}
h2 
{
  text-align: center;
}
#content p {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

#content img {
  display: block;
  max-width: 450px;
  width: 100%;
  margin: 20px auto;
  border: 4px solid red;
}
